body{
	background-image: url("moon.jpg");
    background-size: cover;
}

#menu {
	background: darkorange;
    color: white;
    text-align: center;
    width: 100%;
}

table{
    color: white;
    position: absolute;
    bottom: 400px;
    right: 75px;
    text-align: center;
}

p1{
	color: white;
	font-size: large;
}

p2{
	color: white;
	font-size: large;
    position: absolute;
    bottom: 290px;
}

iframe{
    position: absolute;
    bottom: -100px;
    right: 50px;
}

.sls2{
    position: absolute;
    bottom: -100px;
    left: 50px;
}

a{
    color: white;
    font-style: italic;
}