body{
	background-image: url("moon.jpg");
    background-size: cover;
}

#menu {
	background: darkorange;
    color: white;
    text-align: center;
    width: 100%;
}

p1{
	color: white;
	font-size: large;
}

p2{
	color: white;
	font-size: large;
}

ul{
    list-style-type: circle;
}

.gateway_gif{
    position: absolute;
    right: 15px;
    bottom: 25px;

}

.img_station{
    position: absolute;
    left: 150px ;
    bottom: 30px;
}

a{
    color: white;
    font-style: italic;
}

.home{
	position: absolute;
	left: 20px;
	top: 10px;
}

.contact{
	position: absolute;
	right: 20px;
	top: 3px;	
}