/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2022, 15:27:28
    Author     : florentin.trotin
*/
div.statique {
    position: statique;
    padding:20px;
    border: 3px solid khaki;
    width:310px;
}
