/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2022, 15:02:34
    Author     : florentin.trotin
*/
body{
    background-color: antiquewhite;
}

.important {
    margin: 10px;
    padding: 5px;
    background-color: lightsalmon;
    border: 1px black solid;
    text-align: left;
    width: 100px;
}
