/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2022, 15:42:06
    Author     : florentin.trotin
*/
div.relative{
    position: relative;
    border: 3px solid gray ;
    height: 200px;
    width: 400px;
}

div.fixe {
    position: fixed;
    padding:20px;
    border: 3px solid indianred ;
    right:0px;
    bottom:0px;
}

div.absolue {
    position: absolute;
    top: 80px;
    right:5px ;
    bottom: 5px;
    width: 200px;
    height: 100px;
    border: 3px solid firebrick;
}
